<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="stylesheets/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <%= result%>
             <!--  <img src="images/about_info.jpg">-->
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">LOGIN</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                
                                <input type="text" name="email" id="username" placeholder="Your User Name"/>
                            </div>
                            <div class="form-group">
                               
                                <input type="password" name="password" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Login"/>
                            </div>
                        </form>
                       
                    </div>
                    <div class="signup-image">
                        <figure><img src="images/login.png" alt="sing up image"></figure>
                      
                    </div>
                </div>
            </div>
        </section>

       

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="javascript/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>